<p-chip *ngFor="let item of filtersList" [removable]="true" (onRemove)="removeActiveFilter.emit(item)">
  <ng-container [ngTemplateOutlet]="isDate(item.key) ? dateChip : isNarrator(item.key) ? narrChip : genericChip"
    [ngTemplateOutletContext]="{item: item}"></ng-container>
</p-chip>

<ng-template #genericChip let-item="item">
  {{ translateKey(item.key) }} : {{ item.value }}
</ng-template>

<ng-template #dateChip let-item="item">
  {{ translateKey(item.key) }} : {{ parseDate(item.value) }}
</ng-template>

<ng-template #narrChip let-item="item">
  {{ translateKey(item.key) }} : {{ toHebrew(item.value) }}
</ng-template>
