<mat-chip-list>
  <mat-chip class="filter-chip" *ngFor="let item of filtersList" [removable]="true"
    (removed)="removeActiveFilter.emit(item)">
    <ng-container [ngTemplateOutlet]="isDate(item.key) ? dateChip : isNarrator(item.key) ? narrChip : genericChip"
      [ngTemplateOutletContext]="{item: item}"></ng-container>
    <button matChipRemove class="filter-chip-remove-btn">
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-chip>
</mat-chip-list>

<ng-template #genericChip let-item="item">
  {{ translateKey(item.key) }} : {{ item.value }}
</ng-template>

<ng-template #dateChip let-item="item">
  {{ translateKey(item.key) }} : {{ parseDate(item.value) }}
</ng-template>

<ng-template #narrChip let-item="item">
  {{ translateKey(item.key) }} : {{ toHebrew(item.value) }}
</ng-template>
