::ng-deep {
  .p-menubar-end {
    margin-right: auto;
    margin-left: 2rem !important;
  }

  p-menubarsub.p-element ul.p-submenu-list li.p-element.p-menuitem a.p-ripple.p-element.p-menuitem-link {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-right: 3rem;
  }
}
  .logout-btn-container {
    margin-left: auto;
    .logout-btn {
      cursor: pointer;
      color: #047f94;
    }
    .logout-btn:hover {
      cursor: pointer;
      color: #35c4dc;
    }
  }
