<div class="login-component-container">
  <form class="login-form" [formGroup]="loginForm">
    <h1>כניסה</h1>
    <span class="p-float-label">
      <input pInputText type="text" formControlName="username">
      <label for="float-input">שם משתמש</label>
    </span>
    <span class="p-float-label">
      <input pInputText type="password" formControlName="password">
      <label for="float-input">סיסמא</label>
    </span>
    <button pButton type="submit" class="p-button-raised" [disabled]="disableButton">היכנס</button>
  </form>
</div>

<app-error-handler></app-error-handler>
