
.login-component-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;


  .login-form {
    display: flex;
    flex-direction: column;
    border: 1px solid #a9a9a9;
    border-radius: 3px;
    box-shadow: 0 0 10px #a9a9a9;
    padding: 2rem 1rem;

    h1 {
      text-align: center;
    }

    .p-float-label {
      margin: 1rem 1rem;
    }

    .p-button-raised {
      margin: .5rem 1rem;
    }

    .error-message {
      color: red;
      margin-bottom: 1rem;
    }

  }
}
