
.router-container {
  padding: 1rem 1rem;
  width: fit-content;
}

.container {
  height: 93%;
}

.sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 230px;

  .sidenav-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .sidenav-link {
      color: var(--primary-color);
      width: -webkit-fill-available;
      font-size: 1.6rem;
      padding: 0.8rem .3rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #673ab7;
      cursor: pointer;

      .sidenav-link-icon {
        margin-left: 1rem;
        color: #673ab7;
      }
    }
  }
}
