::ng-deep legend a.p-ripple.p-element {
  display: flex;
  flex-direction: row-reverse;
  text-decoration: none;
}

.filter-component {

  .filter-component-inputs {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .filter-input-group {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      span {
        margin-left: 20px;
      }
    }

    .filter-input-date-group {

      display: flex;
      flex-direction: row;
      margin-top: 3.5rem;
      justify-content: space-between;

      div {
        display: flex;
        flex-direction: row;

        span {
          margin-left: 20px;
          input {
            width: 194.375px;
            height: 35.375px;
          }
        }
      }

      .action-btn-container {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 10px;

        .action-btn-reset {
          margin-left: 1rem;
        }
      }
    }
  }

  .filter-component-chips-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media(max-width: 800px) {
  .filter-component-chips-list {
    visibility: hidden;
  }
}
