<div class="filter-component">
  <mat-accordion>
    <mat-expansion-panel showToggle [expanded]="true">

      <mat-expansion-panel-header>
        <mat-panel-title>חיפוש</mat-panel-title>
      </mat-expansion-panel-header>

      <form (ngSubmit)="onSubmit()">
        <div class="filter-component-inputs">
          <ng-template [ngTemplateOutlet]="filterInputs"></ng-template>
        </div>

        <div class="filter-component-actions">
          <div class="filter-component-chips-list">
            <app-chips [list]="filtersList" (removeActiveFilter)="removeActiveFilter($event, filterObject)"></app-chips>
          </div>

          <div class="action-btn-container">
            <button type="submit"
              mat-raised-button
              mat-icon-button
              color="accent">
              <fa-icon [icon]="icons.faSearch"></fa-icon>
            </button>
            <button type="button"
              class="action-btn-reset"
              color="warn"
              mat-raised-button
              mat-icon-button
              (click)="resetFiltersState()">
              <fa-icon [icon]="icons.faTrashRestore"></fa-icon>
            </button>
          </div>
        </div>
      </form>
    </mat-expansion-panel>
  </mat-accordion>
</div>




<ng-template #filterInputs>

  <mat-form-field appearance="fill">
    <mat-label>מספר הזמנה</mat-label>
    <input matInput type="text" [(ngModel)]="filterObject.orderNumber">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>פרסומאי</mat-label>
    <input matInput type="text" [(ngModel)]="filterObject.advertiser">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>לקוח</mat-label>
    <input matInput type="text" [(ngModel)]="filterObject.customer">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>קריין</mat-label>
    <input matInput type="text" [(ngModel)]="filterObject.narrator">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>ממחיר</mat-label>
    <input matInput type="number" [(ngModel)]="filterObject.fromPrice">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>עד מחיר</mat-label>
    <input matInput type="number" [(ngModel)]="filterObject.toPrice">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>מתאריך</mat-label>
    <input matInput type="date" [(ngModel)]="filterObject.fromDate">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>עד תאריך</mat-label>
    <input matInput type="date" [(ngModel)]="filterObject.toDate">
  </mat-form-field>

</ng-template>
