::ng-deep legend a.p-ripple.p-element {
  display: flex;
  flex-direction: row-reverse;
  text-decoration: none;
}

.filter-component {

  .filter-component-inputs {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .filter-input-group {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .filter-input-date-group {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 2rem;
    }
  }

  .action-btn-container {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;

    .action-btn-reset {
      margin-left: 1rem;
    }
  }

  .filter-component-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media(max-width: 800px) {
  .filter-component-chips-list {
    visibility: hidden;
  }
}
