<div class="filter-component">
  <p-fieldset class="p-fieldset-legend" legend="חיפוש" [toggleable]="true" [collapsed]="true">
    <form (ngSubmit)="onSubmit()">
      <div class="filter-component-inputs">
        <ng-template [ngTemplateOutlet]="filterInputs"></ng-template>
      </div>
      <div class="filter-component-actions">
        <div class="filter-component-chips-list">
          <app-chips [list]="filtersList" (removeActiveFilter)="removeActiveFilter($event, filterObject)"></app-chips>
        </div>
      </div>
    </form>
  </p-fieldset>
</div>



<ng-template #filterInputs>
  <div class="filter-input-group">
    <span class="p-float-label">
      <input type="text" pInputText class="p-inputtext-sm" [(ngModel)]="filterObject.orderNumber">
      <label>מספר הזמנה</label>
    </span>

    <span class="p-float-label">
      <input pInputText type="text" class="p-inputtext-sm" [(ngModel)]="filterObject.advertiser">
      <label>פרסומאי</label>
    </span>

    <span class="p-float-label">
      <input pInputText type="text" class="p-inputtext-sm" [(ngModel)]="filterObject.customer">
      <label>לקוח</label>
    </span>

    <span class="p-float-label">
      <input pInputText type="text" class="p-inputtext-sm" [(ngModel)]="filterObject.narrator">
      <label>קריין</label>
    </span>

    <span class="p-float-label">
      <input type="number" pInputText class="p-inputtext-sm" [(ngModel)]="filterObject.fromPrice">
      <label>ממחיר</label>
    </span>

    <span class="p-float-label">
      <input type="number" pInputText class="p-inputtext-sm" [(ngModel)]="filterObject.toPrice">
      <label>עד מחיר</label>
    </span>

  </div>
  <div class="filter-input-date-group">
    <span class="p-float-label">
      <p-calendar [(ngModel)]="fromDate" [dateFormat]="'dd-mm-yy'" (onSelect)="onFromDate($event)"></p-calendar>
      <label>מתאריך</label>
    </span>
    <span class="p-float-label mr-3">
      <p-calendar [(ngModel)]="toDate" [dateFormat]="'dd-mm-yy'" (onSelect)="onToDate($event)"></p-calendar>
      <label>עד תאריך</label>
    </span>
  </div>
  <div class="action-btn-container">
    <button pButton type="submit`" icon="pi pi-search"
      class="p-button-raised p-button-rounded p-button-warning mr-3"></button>
    <button pButton type="button`" icon="pi pi-trash" class="p-button-raised p-button-rounded p-button-danger mr-2"
      (click)="resetFiltersState()"></button>
  </div>

</ng-template>
